.index_nav .nav_list li:nth-child(4) a{
    color: #f92929;
}
h1{
    font-size: 40px;
    color: #333;
    text-align: center;
    font-weight: 400;
    height: 135px;
    line-height: 135px;
}
#active {
    border-bottom: 4px solid #fe5631;
    a{
        color: #fe5631;
    }
}
.active_{
    color: #333;
}
.other_nav{
    width: 330px;
    margin: 0 auto;
    overflow: hidden;
    a{
        color: #999;
    }
    li{
        width: 165px;
        text-align: center;
        float: left;
        padding-bottom: 15px;
        cursor: pointer;
    }
}
.xiaji_nav{
    border-top: 1px solid #f2f2f2;
    ul{
        overflow: hidden;
        color: #999;
        width: 570px;
        margin: 0 auto;
        li{
            float: left;
            width: 60px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
        }
        li:not(li:nth-child(4)){
            margin-right: 110px;
        }
    }
}

.sy_wrap{
    padding-top: 25px;
    background-color: #f7f7f7;
    overflow: hidden;
    .sy_list{
        float: left;
        font-size: 12px;
        width: 1000px;
        overflow: hidden;
        li{
            width: 220px;
            float: left;
            position: relative;
            border: 1px solid #e9e9e9;
            border-radius: 5px;
            text-align: center;
            padding-bottom: 20px;
            margin-bottom: 35px;
            .sy_tys{
                padding: 2px 8px;
                border-radius: 3px;
                position: absolute;
                right: 0;
                color: #ffebdf;
                background-color:  #fe5745;
                
            }
            // #sy_tys{
            //     color: #aaa176;
            //     background: radial-gradient(#faf6c7,#f7e7b4);
            // }
            img{
                width: 220px;
                height: 130px;
                cursor: pointer;
            }
            h4{
                width: 100%;
                font-size: 16px;
                box-sizing: border-box;
                padding: 0 9px;
            }
            div{
                margin: 10px 0 13px;
            }
            div span{
                border: 1px solid #dd4a67;
                display: inline-block;
                padding: 3px 5px;
                border-radius: 3px;
                color: #dd4a67;
            }
            p{
                font-size: 14px;
                margin-bottom: 5px;
            }
            span{
                font-size: 12px;
                color: #dd4a67;
            }
        }
        li:not(li:nth-child(4n)){
            margin-right: 37px;
        }
    }

    // 加载动画
    #jiazai_donghua{
        width: 1000px;
        height: 1185px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        position: relative;
        top: 0;
        display: none;
        i{
            font-size: 50px;
            margin-top: 50px;
            animation: turn_around 2s linear infinite;
        }
    }

    // 试用中
    #sy_syz_list{
        div span{
            border-color: #6fc071;
            color: #6fc071;
        }
        .use_shop_type{
            color: #6fc071;
        }
    }
    #sy_yjs_list{
        div span{
            border-color: #c9c9c9;
            color: #c9c9c9;
        }
        .use_shop_type{
            color: #c9c9c9;
        }
    }


}

// 点击加载更多
#click_more{
    height: 30px;
    line-height: 20px;
    text-align: center;
    color: #f73c43;
    cursor: pointer;
    margin-bottom: 50px;
    span{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url(./../../css/img/more.png) no-repeat bottom center;
    }
}

// 影藏
#sy_sqz_list,
#sy_syz_list,
#sy_yjs_list{
    display: none;
}



// 试用详情页面的样式
.sy_liucheng{
    height: 100px;
    background-color: #f0f0f0;
    padding-top: 20px;
    box-sizing: border-box;
    .sylc{
        width: 60px;
        height: 64px;
        font-size: 20px;
        color: #333;
        border-left: 6px solid #ff523f;
        padding: 8px 0 0 10px;
        box-sizing: border-box;
    }
    .lc_nav{
        margin-left: 60px;
        // margin-bottom: 45px;
        li{
            float: left;
            width: 56px;
            font-size: 12px;
            color: #666;
            text-align: center;
            p{
                padding: 2px 0;
            }
        }
        li:nth-child(1) {
            border-bottom: 2px solid #ff523f;
        }
        li:not(li:last-child){
            margin-right: 136px;
        }
    }
}

.use_main{
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    overflow: hidden;
    h3{
        border-left: 6px solid #ff523f;
        font-size: 17px;
        height: 25px;
        line-height: 25px;
        font-weight: 400;
        padding-left: 25px;
        margin-bottom: 20px;
    }
    .use_main_left{
        width: 700px;
        padding-top: 20px;
        div.intro{
            color: #fa0009;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 35px;
        }
        p{
            font-size: 16px;
            color: #333;
            line-height: 25px;
            // padding-right: 40px;
        }
        >img{
            margin: 35px 0 10px;
        }
        h5{
            height: 80px;
            line-height: 80px;
            color: #006fed;
            font-size: 18px;
            font-weight: 500;
        }
        h3:last-of-type{
            margin-top: 45px;
        }
        p.sybg{
            color: #1e6cd1;
            font-size: 12px;
            margin: 30px 0;
        }
        ol{
            color: #333;
            span{
                font-weight: bold;
            }
            li{
                line-height: 25px;
            }
            li:first-child{
                color: #f40000;
            }
        }
        ol:nth-of-type(1){
            margin-bottom: 35px;
        }
        ol:nth-of-type(2){
            margin-bottom: 80px;
        }

        // 热门试用
        .hot_shiyong{
            width: 1000px;
            margin: 0 auto;
            position: relative;
            h2{
                line-height: 66px;
                font-size: 20px;
                color: #444;
                span{
                    font-size: 12px;
                    font-weight: 400;
                    color: #fe5341;
                }
            }
            .lbt{
                width: 1000px;
                overflow: hidden;
                float: left;
                font-size: 12px;
                margin-bottom: 25px;
                li{
                    width: 220px;
                    float: left;
                    position: relative;
                    border: 1px solid #e9e9e9;
                    border-radius: 5px;
                    text-align: center;
                    padding-bottom: 20px;
                    .hot_rt_biaoshi{
                        padding: 2px 8px;
                        border-radius: 3px;
                        position: absolute;
                        right: 0;
                    }
                    .bs_sf{
                        color: #ffebdf;
                        background-color:  #fe5745;
                    }
                    .bs_tys{
                        color: #aaa176;
                        background: radial-gradient(#faf6c7,#f7e7b4);
                    }
                    img{
                        width: 220px;
                        height: 130px;
                        cursor: pointer;
                    }
                    h4{
                        width: 100%;
                        font-size: 16px;
                        box-sizing: border-box;
                        padding: 0 9px;
                    }
                    div{
                        margin: 10px 0 13px;
                    }
                    div span{
                        border: 1px solid #dd4a67;
                        display: inline-block;
                        padding: 3px 5px;
                        border-radius: 3px;
                        color: #dd4a67;
                    }
                    p{
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    span{
                        font-size: 12px;
                        color: #dd4a67;
                    }
                }
                li:not(li:nth-child(4n)){
                    margin-right: 37px;
                }
            }
        }
    }
    .use_main_right{
        width: 270px;
        .u_price{
            height: 80px;
            line-height: 60px;
            font-size: 30px;
            color: #ff523f;
        }
        button{
            border: none;
            width: 100%;
            height: 48px;
            font-size: 18px;
            color: #fff;
            background-color: #ff523f;
            border-radius: 5px;
        }
        p.from{
            height: 46px;
            line-height: 46px;
            text-align: center;
            color: #999;
            font-size: 12px;
        }
        img{
            margin-bottom: 5px;
        }
        h4{
            font-size: 16px;
            color: #2a2720;
            height: 40px;
            line-height: 40px;
        }
        p{
            color: #999;
            font-size: 12px;
            line-height: 20px;
        }
        h3.h3_last{
            margin-top: 60px;
        }
    }
}