section {
  background-color: #F7F7F7;
  overflow: hidden;
}

section .head {
  line-height: 50px;
  width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  color: #96AAB5;
}

section .head a {
  color: #96AAB5;
}

section > .main {
  width: 1000px;
  margin: 0 auto;
}

article {
  float: left;
  width: 700px;
  background-color: #fff;
  border-radius: 4px;
}

article > .title {
  padding: 24px;
}

article > .title .content {
  font-size: 26px;
}

article > .title .time {
  font-size: 12px;
  overflow: hidden;
  margin-top: 12px;
}

article > .title .time span {
  color: #96AAB5;
}

article > .title .time span:first-of-type {
  float: left;
}

article > .title .time span:last-of-type {
  float: right;
}

article > .content {
  border-top: 1px solid #DFDFDF;
  padding: 20px;
}

article > .content .text {
  font-size: 14px;
  line-height: 22px;
}

article > .content .mt {
  margin-top: 20px;
}

article > .content .img {
  margin: 18px 0;
}

article > .content .img img {
  width: 100%;
}

article > .content > h4 {
  margin-top: 20px;
  text-align: center;
}

article > .content .previous {
  margin-top: 50px;
  color: #96AAB5;
  font-size: 14px;
}

article > .content .next {
  color: #96AAB5;
  font-size: 14px;
}

aside {
  float: right;
  background-color: #fff;
  border: solid 1px #DFDFDF;
  width: 270px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

aside > div {
  float: left;
  width: 134px;
  text-align: center;
  height: 108px;
  box-sizing: border-box;
  padding: 20px;
}

aside > div.like {
  border-right: 1px solid #DFDFDF;
}

aside > div.like .like1 {
  background: url(./img/xinRedo.png) no-repeat 35px 5px;
}

aside > div.like .like2 {
  background: url(./img/xinRedh.png) no-repeat 35px 5px;
}

aside > div.share .share1 {
  background: url(./img/share_yj1.png) no-repeat 35px 5px;
}

aside > div.share .share2 {
  background: url(./img/shareh_yj1.png) no-repeat 35px 5px;
}

aside > div div:first-of-type {
  height: 40px;
}

.bshare-custom {
  position: absolute;
  right: 0px;
  bottom: -110px;
  display: none;
}
