/* 酷玩，导购 共用css */
section {
    overflow: hidden;

    .theme {
        font-size: 38px;
        line-height: 120px;
        text-align: center;
    }

    .title {
        display: inline-block;
        overflow: hidden;
        margin-left: 50%;
        transform: translate(-50%);

        div {
            float: left;
            width: 165px;
            color: #A3A1A2;
            line-height: 45px;
            font-size: 17px;
            text-align: center;

            &.c_color {
                color: #F8572B;
                border-bottom: solid #F8572B 4px;
            }
        }
    }
}

article.new {
    background-color: #f7f7f7;
    overflow: hidden;
    padding-bottom: 25px;

    position: relative;

    .loading {
        width: 400px;
        line-height: 120px;
        text-align: center;
        font-size: 30px;
        border: 1px solid #999;
        background-color: #fff;
        position: absolute;
        margin-left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    .main {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;

        /* new,hot部分 */
        .out {
            overflow: hidden;
            float: left;
            border: 1px solid #EAEAEA;
            border-radius: 6px;
            width: 220px;
            height: 223px;
            overflow: hidden;
            margin: 25px 0 0 37px;
            transition: transform 0.5s;
            &:hover{
                box-shadow: 0 2px 5px #DFDFDF;
                transform: translateY(-5px);
            }

            &:nth-child(4n+1) {
                margin-left: 0;
            }

            img {
                width: 100%;
                height: 130px;
            }

            p {
                font-size: 14px;

                &:last-of-type {
                    font-size: 13px;
                    color: #AFAFAF;
                    line-height: 20px;
                }
            }

            div {
                font-size: 12px;
                color: #FF6B4A;
                padding-top: 10px;

                span {
                    float: left;

                    &:nth-child(n+2) {
                        color: #ABABAB;
                        float: right;
                        font-size: 12px;
                        padding-left: 12px;
                        background: url(../css/img/reply.png) no-repeat 0px 3px;
                        margin-left: 3px;
                    }

                    &:nth-child(3) {
                        background: url(../css/img/xin.png) no-repeat 0px 3px;
                    }
                }
            }
        }

        .guid_out {
            overflow: hidden;
            float: left;
            border-bottom: none;
            border-radius: 6px;
            width: 220px;
            height: 210px;
            background: url(./img/listbg.jpg) no-repeat 0px 197px;
            overflow: hidden;
            margin: 25px 0 0 30px;
            
            >div {
                overflow: hidden;
                border: 1px solid #EAEAEA;
                border-bottom: none;
                background: #fff;
                overflow: hidden;

                &:nth-child(4n+1) {
                    margin-left: 0;
                }

                img {
                    width: 100%;
                    height: 130px;
                }

                p {
                    font-size: 14px;
                    height: 18.4px;
                    &:last-of-type {
                        font-size: 13px;
                        color: #AFAFAF;
                        line-height: 20px;
                    }
                }

                div {
                    font-size: 12px;
                    color: #FF6B4A;
                    padding-top: 10px;
                    overflow: hidden;
                    span {

                        &:nth-child(n+1) {
                            color: #ABABAB;
                            float: right;
                            font-size: 12px;
                            padding-left: 12px;
                            background: url(../css/img/reply.png) no-repeat 0px 3px;
                            margin-left: 3px;
                        }

                        &:nth-child(2) {
                            background: url(../css/img/xin.png) no-repeat 0px 3px;
                        }
                    }
                }
            }
        }

        /* category部分 */
        .floor {
            background-color: #fff;
            border: 1px solid #EAEAEA;
            border-radius: 5px;
            padding-top: 19px;
            margin: 25px 0 10px 0;

            .title {
                font-size: 15px;
                width: 100%;
                line-height: 25px;
                border-left: 6px solid #FF4D3F;
                padding-left: 24px;
            }

            .center {
                margin: 16px 25px 22px;
                overflow: hidden;
                font-size: 13px;

                .every {
                    float: left;
                    margin: 20px 0 0 60px;

                    &:nth-child(6n+1) {
                        margin-left: 0;
                    }

                    div {
                        &:first-of-type {
                            border-radius: 50%;
                            width: 92px;
                            margin: 0 auto;
                            overflow: hidden;
                            background-color: #F6F6F6;

                            img {
                                width: 100%;
                            }
                        }

                        &:last-of-type {
                            margin-top: 16px;
                            text-align: center;
                            color: #DFDFDF;
                        }
                    }
                }
            }

            .foot {
                padding: 0 45px 16px;
                border-top: 1px dashed #EAEAEA;
                overflow: hidden;

                div {
                    float: left;
                    width: 120px;
                    text-align: center;
                    color: #dfdfdf;
                    font-size: 13px;
                    margin: 20px 0 0 30px;

                    &:nth-child(6n+1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .more {
        text-align: center;
        padding: 50px 0;
        font-size: 16px;
        overflow: hidden;
        color: #FF6B4A;

        >span {
            float: left;
            padding-left: 20px;
            margin-left: 50%;
            transform: translate(-50%);
            background: url(../css/img/more.png) no-repeat 0px 8px;
        }
    }
}