@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #404e4e;
}

/* 导航栏 */
header {
  height: 75px;
  box-sizing: border-box;
  border-bottom: #d2c9da 1px solid;
}

header .header_main {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

header .header_main .logo {
  float: left;
  margin-top: 12px;
  width: 132px;
}

header .header_main nav {
  float: left;
  margin: 30px 0 0 63px;
}

header .header_main nav a {
  font-size: 20px;
}

header .header_main nav a:nth-child(n+2) {
  margin-left: 50px;
}

header .header_main nav a.the {
  color: #F92929;
}

header .header_main button {
  margin-top: 30px;
  float: right;
  width: 52px;
  height: 32px;
  color: #F92929;
  border: 1px solid #F92929;
  border-radius: 3px;
  box-sizing: border-box;
}

header .header_main .search {
  margin-top: 30px;
  margin-right: 32px;
  float: right;
  height: 32px;
  width: 32px;
  background: url(./img/search.png) no-repeat 0px 3px;
}

footer {
  height: 360px;
  box-sizing: border-box;
  background-color: #505050;
  overflow: hidden;
  position: relative;
}

footer .center {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}

footer .center .qr {
  width: 160px;
  height: 160px;
  float: left;
  margin-right: 20px;
}

footer .center ul {
  float: left;
  width: 136px;
}

footer .center ul img {
  width: 121px;
}

footer .center ul li {
  margin-top: 20px;
  font-size: 13px;
  color: #999;
  overflow: hidden;
}

footer .center dl {
  float: left;
  margin-left: 30px;
}

footer .center dl dt {
  color: #fff;
}

footer .center dl dd {
  font-size: 13px;
  color: #999;
}

footer .center dl dd a {
  font-size: 13px;
  color: #999;
  overflow: hidden;
}

footer .center dl dd a:nth-child(1) {
  float: left;
}

footer .center dl dd a:nth-child(2) {
  float: right;
  margin-left: 5px;
}

footer .center dl dd:nth-child(2) {
  margin-top: 20px;
}

footer .center .copy {
  text-align: center;
  font-size: 13px;
  color: #999;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

footer .toTop {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: fixed;
  bottom: 59px;
  right: 121px;
  background: #E8E8E8 url(./img/back.png) no-repeat 7px 14px;
}
